In [18]:
import pandas as pd
data = {
    '이름' : ['철수', '영희','민수'],
    'age' : [28, 22, 31],
    'gender' : ['남', '여', '남']
}
df = pd.DataFrame(data)

In [19]:
df['이름']

0    철수
1    영희
2    민수
Name: 이름, dtype: object

In [14]:
data2 =[
    ['철수',28,'남'],
    ['영희',22,'여'],
    ['민수',31,'남']
]
columns2 = ['이름', 'age','gender']
df2 = pd.DataFrame(data2, columns=columns2)

In [15]:
df2

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [16]:
data3 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])

In [17]:
print(data3)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [24]:
df.to_csv('df.csv',index=False)

In [25]:
df = 0

In [27]:
df = pd.read_csv('df.csv')

In [29]:
df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [31]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 495.5 kB/s eta 0:00:01
     --------------------- ---------------- 143.4/250.0 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import openpyxl
df.to_excel('df.xlsx',engine='openpyxl')